{% extends "base.html" %}
{% load staticfiles %}

{%block head%}
        <link rel="stylesheet" href="{% static "css/backend_analytics.css" %}">

        <script type="text/javascript"> var get_relevance_data_url = "{{get_relevance_data_url}}"</script>
	    <script type="text/javascript" src="{% static "js/backend_analytics.js" %}"></script>
	    <script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
	    <title>Backend analytics</title>
{%endblock head%}

{% block content %}
	<div id="chart-container" class="chart"></div>
{% endblock content %}
