<html>
<head>
    <title>Customer</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/customer.css" %}">

    <script type="text/javascript" src="{% static "js/jquery-2.2.1.min.js" %}"></script>           
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>

    <script type="text/javascript"> var user_id = {{user_id}}</script>
    <script type="text/javascript" src="{% static "js/customer.js" %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5>Message</h5>
            </div>
            <div class="col s12">
                <textarea id="textarea1" class="materialize-textarea" name=message readonly></textarea>
            </div>
            <div class="col s3">
                <a id="merchants" class='dropdown-button btn' href='#' data-activates='dropdown1' > Select Merchant </a>
                <ul id='dropdown1' class='dropdown-content'></ul>
            </div>
            <div class="col s3">
                <div id="merchant"></div>
            </div>
            <div class="col s3">
                <input placeholder="Amount" id="amount" type="number" class="validate">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn" id="buy" onClick="buy()">Buy</a>
            </div>
            <div class="col s6">
              <div class="card blue-grey accent-3">
                <div class="card-content white-text">
                  <span class="card-title">Account Balance</span>
                  <p id="acc_balance"></p>
                </div>
              </div>
            </div>
            <div class="col s6">
              <div class="card blue-grey accent-3">
                <div class="card-content white-text">
                  <span class="card-title">Cashback</span>
                  <p id="cashback"></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
