{% extends "base.html" %}
{% load staticfiles %}

{%block head%}
        <script type="text/javascript"> var user_id = {{user_id}}</script>
        <script type="text/javascript"> var transact_url = "{{transact_url}}"</script>
        <script type="text/javascript"> var user_url = "{{user_url}}"</script>
        <script type="text/javascript"> var get_merchants_url = "{{get_merchants_url}}"</script>
        <script type="text/javascript" src="{% static "js/customer.js" %}"></script>
        <title>Customer</title>
{%endblock head%}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5>SMS from Bank</h5>
                    <div class="divider"></div>
                    <br/>
                </div>
                <div class="col s12">
                    <textarea id="textarea1" class="materialize-textarea" name=message readonly></textarea>
                </div>
                <div class="col s12">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col s12">
                    <h5>Buy</h5>
                    <div class="divider"></div>
                    <br/>
                </div>
                <div class="col s3">
                    <a id="merchants" class='dropdown-button btn' href='#' data-activates='dropdown1' > Select Merchant </a>
                    <ul id='dropdown1' class='dropdown-content'></ul>
                </div>
                <div class="col s3">
                    <div id="merchant"></div>
                </div>
                <div class="col s3">
                    <input placeholder="Amount" id="amount" type="number" class="validate">
                </div>
                <div class="col s3">
                    <a class="waves-effect waves-light btn" id="buy" >Buy</a>
                </div>
                <!-- <div class="col s6">
                  <div class="card blue-grey accent-3">
                    <div class="card-content white-text">
                      <span class="card-title">Account Balance</span>
                      <p id="acc_balance"></p>
                    </div>
                  </div>
                </div> -->
                <!--<div class="col s6">-->
                  <!--<div class="card blue-grey accent-3">-->
                    <!--<div class="card-content white-text">-->
                      <!--<span class="card-title">Cashback</span>-->
                      <!--<p id="cashback"></p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
            </div>
        </div>
{% endblock content%}
