{% extends "base.html" %}
{% load staticfiles %}

{%block head%}
        <script type="text/javascript"> var get_vendor_revenue_url = "{{get_vendor_revenue_url}}"</script>
        <script type="text/javascript"> var get_bank_revenue_url = "{{get_bank_revenue_url}}"</script>
        <script type="text/javascript"> var show_offers_url = "{{show_offers_url}}"</script>
        <script type="text/javascript" src="{% static "js/index.js" %}"></script>
        <title>Prototype</title>
{%endblock head%}

{% block content %}
<div class="container">
    <div id ='card_panel' class="row">
        <div class="col s12">
            <h4>CardBytes CLM prototype </h4>
        </div>

       <!--  <div class="col s6">
            <div class="card blue-grey accent-3">
                <div class="card-content white-text">
                    <p id = "bank_clm" >Bank Revenue with CLM  </p>
                </div>
            </div>
        </div>
 -->
        <div class="col s6">
             <div class="card blue-grey accent-3">
                <div class="card-content white-text">
                    <p id = 'card_revenue' >Cardbytes Revenue  </p>
                </div>
             </div>
        </div>
            
        <!-- <div class="col s6">
             <div class="card blue-grey accent-3">
                <div class="card-content white-text">
                    <p id = "bank_wo_clm" >Bank Revenue without CLM  </p>
                </div>
             </div>
        </div> -->

        <div id="table" class="col s12"></div>

    </div>
</div>
{% endblock content%}
