<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
          

<h4>CardBytes CLM prototype </h4>
  <div>
  <a id ="generate_offers" class="waves-effect waves-light btn">Generate offers</a>
  <script>
      $('#generate_offers').on('click',  function(){
        $.ajax({url: "http://localhost:8000/cardbytes/generate_offers?", 
          success: function(result){
        console.log('success');
        }});
      });
      </script>
</div>


<div class="row">
      <div class="col s6 m3">
        <div class="card-panel teal">
         <span class="orange-text">
         <span id = "bank_clm" class="card-title">Bank Revenue with CLM  </span>
     </span>
         <script>
      $(document).ready(function(){
        $.ajax({url: "http://localhost:8000/cardbytes/get_bank_revenue?", 
          success: function(result){
          var revenue = result['revenue_with_clm'];
          var div = document.getElementById('bank_clm');
          div.innerHTML += "<span class='white-text'>"+ revenue + "</span>" 
        }});
      });
      </script>
        </div>
      </div>

            <div class="col s6 m3">
        <div class="card-panel teal">
         <span class="orange-text">
         <span id = "bank_wo_clm" class="card-title">Bank Revenue without CLM  </span>
     </span>
         <script>
      $(document).ready(function(){
        $.ajax({url: "http://localhost:8000/cardbytes/get_bank_revenue?", 
          success: function(result){
          var revenue = result['revenue_without_clm'];
          var div = document.getElementById('bank_wo_clm');
          div.innerHTML += "<span class='white-text'>"+ revenue + "</span>" 
        }});
      });
      </script>
        </div>
      </div>
    </div>


<div id ='card_panel' class="row">
<div class="col s6">
        <div class="card-panel teal">
         <span class="orange-text">
         <span id = 'card_revenue' class="card-title">Cardbytes Revenue  </span>
     </span>
      <script>
      $(document).ready(function(){
        $.ajax({url: "http://localhost:8000/cardbytes/get_vendor_revenue?", 
          success: function(result){
          var revenue = result['revenue'];
          var div = document.getElementById('card_revenue');
          div.innerHTML += "<span class='white-text'>"+ Math.floor(revenue) + "</span>" 
        }});
      });
      </script>
        </div>
      </div>
</div>
        

<script>

var create_table = function(){
        $.ajax({url: "http://localhost:8000/cardbytes/show_offers?", 
        	success: function(result){
        	console.log(result);
 		var div = document.getElementById('card_panel');
       var html_code = "<table class='centered responsive-table highlight'>" +
       "<thead>" +
          "<tr>"+
             "<th data-field='id'>User</th>"+
             "<th data-field='merchant'>Merchant</th>"+
             "<th data-field='cashback'>Cashback</th>"+
             "<th data-field='cashback_used'>Cashback Used</th>"+
          "</tr>"+
        "</thead>"+
        "<tbody>";
        offers = result['offers'];
        for(i=0; i < offers.length; i++){
       html_code += "<tr>";
       	
        	html_code += "<td>"+offers[i]['user_id']+"</td>";
        	html_code += "<td>"+offers[i]['merchant']+"</td>";
        	html_code += "<td>"+offers[i]['cashback']+"</td>";
        	html_code += "<td>"+offers[i]['cashback_used']+"</td>";
        	html_code += "</tr>";
        	
        }
        html_code += "</tbody>"+ "</table>";
        div.innerHTML = div.innerHTML + html_code;
    }});
}

// $(document).ready(create_table());

$('#generate_offers').on('click', create_table());

</script>


